<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-text" style="color:white;"><strong th:utext="${authUsername}"></strong> with roles: <strong
            th:utext="${authRole}"></strong></a>
    <form class="form-inline">
        <a style="color:grey;"th:href="@{/logout}" type="submit">Logout</a>
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="nav nav-pills flex-column" style="margin-top: 10%;">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#adminpanel">ADMIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userpanel">USER</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="adminpanel">
                    <div class="row">
                        <div class="col-12">
                            <h3 style="margin-top: 15px;"> ADMIN PANEL </h3>
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#userTable">User table</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#add">New user</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12">
                        <div class="tab-content">
                            <div class="tab-pane active" id="userTable">
                                <div class="col-12">
                                    <strong><h3>All users</h3></strong>
                                </div>
                                <div class="col-12">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">First name</th>
                                            <th scope="col">Last name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${userlist}">
                                            <td th:utext="${user.id}"></td>
                                            <td th:utext="${user.name}">...</td>
                                            <td th:utext="${user.lastname}">...</td>
                                            <td th:utext="${user.age}">...</td>
                                            <td th:utext="${user.email}">...</td>
                                            <td th:utext="${user.roles}">...</td>
                                            <form action="/admin/panel/editUser" method="post">
                                                <td>
                                                    <button type="button" class="btn btn-success" data-toggle="modal" th:data-target="${'#edituser'+user.id}">
                                                    Edit
                                                </button>

                                                    <!-- Edit Modal -->
                                                    <div class="modal fade" th:id="${'edituser'+user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group row">
                                                                        <label for="inputeditname" class="col col-form-label"><strong>First name</strong></label>
                                                                        <input type="text" name="username" class="form-control" id="inputeditname" th:placeholder="${user.name}">
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="inputeditlastname" class="col col-form-label"><strong>Last name</strong></label>
                                                                        <input type="text" name="lastname" class="form-control" id="inputeditlastname" th:placeholder="${user.lastname}">
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="inputeditAge" class="col col-form-label"><strong>Age</strong></label>
                                                                        <input type="number" name="age" min="1" max="130" class="form-control" id="inputeditAge" th:placeholder="${user.age}">
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="inputEmail" class="col col-form-label"><strong>Email</strong></label>
                                                                        <input type="email" name="email" class="form-control" id="inputeditEmail" th:placeholder="${user.email}">
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="inputeditPassword" class="col col-form-label"><strong>Password</strong></label>
                                                                        <input type="text" name="password" class="form-control" id="inputeditPassword" placeholder="password">
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="editroles" class="col col-form-label"><strong>Role</strong></label>
                                                                        <select class="form-control" name="role" id="editroles">
                                                                            <option value="ROLE_ADMIN"> ADMIN </option>
                                                                            <option value="ROLE_USER"> USER</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary" name="id" th:value="${user.id}">Save changes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </form>
                                                <td>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="${'#deluser'+user.id}">
                                                        Delete
                                                    </button>

                                                    <!-- Delete Modal -->
                                                    <div class="modal fade" th:id="${'deluser'+user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="deleter">Delete</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <strong>ID</strong>
                                                                    <input class="form-control" type="text" th:placeholder="${user.id}" readonly>
                                                                    <strong>First name</strong>
                                                                    <input class="form-control" type="text" th:placeholder="${user.name}" readonly>
                                                                    <strong>Last name</strong>
                                                                    <input class="form-control" type="text" th:placeholder="${user.lastname}" readonly>
                                                                    <strong>Age</strong>
                                                                    <input class="form-control" type="text" th:placeholder="${user.age}" readonly>
                                                                    <strong>Email</strong>
                                                                    <input class="form-control" type="text" th:placeholder="${user.email}" readonly>
                                                                    <strong>Roles</strong>
                                                                    <input class="form-control" type="text" th:placeholder="${user.roles}" readonly>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <form action="/admin/panel/deleteUser" method="post">
                                                                    <button type="submit" class="btn btn-danger" name="id" th:value="${user.id}">Delete</button></form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="add">
                                <div class="col-12">
                                    <strong><h3>Add new user</h3></strong>
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <form action="/admin/panel/addUser" method="post">
                                                <div class="form-group row">
                                                    <label for="inputname" class="col col-form-label"><strong>First name</strong></label>
                                                    <input type="text" name="username" class="form-control" id="inputname" placeholder="Username">
                                                </div>
                                                <div class="form-group row">
                                                    <label for="inputlastname" class="col col-form-label"><strong>Last name</strong></label>
                                                    <input type="text" name="lastname" class="form-control" id="inputlastname" placeholder="Lastname">
                                                </div>
                                                <div class="form-group row">
                                                    <label for="inputPassword" class="col col-form-label"><strong>Password</strong></label>
                                                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                                                </div>
                                                <div class="form-group row">
                                                    <label for="inpuAge" class="col col-form-label"><strong>Age</strong></label>
                                                    <input type="number" name="age" min="1" max="130" class="form-control" id="inpuAge" placeholder="Age">
                                                </div>
                                                <div class="form-group row">
                                                    <label for="inputEmail" class="col col-form-label"><strong>Email</strong></label>
                                                    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
                                                </div>
                                                <div class="form-group row">
                                                    <label for="roles" class="col col-form-label"><strong>Role</strong></label>
                                                    <select class="form-control" name="role" id="roles">
                                                        <option value="ROLE_ADMIN"> ADMIN </option>
                                                        <option value="ROLE_USER"> USER</option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-success">Add new user</button>
                                            </form>
                                        </div>
                                        <div class="col-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="userpanel">
                    <div class="row">
                        <div class="col-12">
                            <h3 style="margin-top: 15px;"> User information-page </h3>
                        </div>
                        <div class="col-12">
                            <h4 style="margin-top: 15px;"> About user </h4>
                        </div>
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:utext="${authID}"></td>
                                    <td th:utext="${authUsername}"></td>
                                    <td th:utext="${authLastname}"></td>
                                    <td th:utext="${authAge}"></td>
                                    <td th:utext="${authEmail}"></td>
                                    <td th:utext="${authRole}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>